:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	--marrom: #574E45;
	--branco-suave: #F8F4E6;
	--preto: #000;
	--cinza-claro: #373737a6;
	--marrom-rodape: #4C453D;
	--marrom-botao: #36302B;
	--bege-dourado: #A88B59;
	--bege-claro: #c8b287;
	--bege-campo: #F2E6CF;
	--branco: #FFFFFF;
	--cinza-placeholder: #888;
	--azul-facebook: #1877F2;
}




/** Controle da Main */

.main {
	width: 100vw;
	height: 100vh;
	padding: 10rem 0rem 5rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--branco-suave);
	box-shadow: 0px 4px 10px var(--cinza-claro);
	box-sizing: border-box;
}

.inicio {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.inicio p {
	color: var(--cinza-claro);
	width: 55%;
	line-height: 1.4rem;
	text-align: center;
}

.primeiro {
	font-weight: 900;
	color: var(--marrom);
}

.segundo {
	font-weight: 700;
	color: var(--bege-dourado);
}

.logo-principal {
	height: 15rem;
	border-radius: 50%;
	width: 15rem;
}

.main section {
	text-align: center;
}

.informativo {
	padding-top: 70px;
	background-color: var(--bege-dourado);
	text-align: center;
	padding-bottom: 80px;
}

.titulo h1 {
	font-size: 50px;
	font-weight: 800;
	color: var(--branco-suave);
	text-align: center;
	padding: 3rem 1rem 1rem 1rem;
}

.barrinha {
	width: 49%;
	height: 6px;
	background-color: #e9d8a6;
	border-radius: 5px;
	margin: 0 auto;
}

.pai {
	display: flex;
	justify-content: justify;
	text-align: left;
	padding-top: 75px;
}

.organizacao {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	font-weight: 600;
	background-color: var(--branco-suave);
	color: var(--marrom);
	padding: 40px;
	width: 50%;
	margin: 0 0 0 100px;
	border-radius: 15px;
	box-shadow: -10px 10px #e7ddc4;

	box-sizing: border-box;
}

.organizacao p {
	display: inline-block;
	transform-origin: center;
	margin: 20px 0;
	text-align: justify;
}

.eventos-section {
	padding-top: 70px 0 80px 0;
	background-color: #685b49;
	text-align: center;
}

.eventos {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	max-width: 1554px;
	margin: 0 auto;
	padding: 0 20px;
	justify-content: space-around;
}

.cartao {
	background-color: #d8cba2;
	border-radius: 15px;
	padding: 25px;
	width: 400px;
	height: 250px;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
	margin-top: 75px;
	transition: 0.3s ease;
	display: flex;
	flex-direction: column;
}

.cartao:hover {
	transform: translateY(-5px);
	box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

.cartao h3 {
	font-size: 1.3rem;
	font-weight: 900;
	color: #2d261e;
	margin-bottom: 10px;
}

.cartao p {
	color: #2d261e;
	line-height: 1.5;
	font-size: 1rem;
	margin-bottom: 15px;
	flex-grow: 1;
}

.info {
	display: flex;
	align-items: center;
	gap: 8px;
	color: #2d261e;
	font-weight: 600;
	margin-bottom: 8px;
}

.material-symbols-outlined {
	font-size: 22px;
}

.btns {
	padding: 2rem 0rem 5rem 0rem;
	display: flex;
	gap: 2rem;
}

.btn-projetos {
	width: 15rem;
	background-image: linear-gradient(10deg, #ffff8649, #ffff4d7c 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	height: 2.5rem;
	color: var(--preto);
	transition: border-color 0.3s ease;
	border: 1px solid transparent;
	box-sizing: border-box;
	box-shadow: -3px 3px 1px var(--cinza-claro);
	user-select: none;
}

.btn-projetos:hover {
	border-color: var(--cinza-claro);
	cursor: pointer;
}

.btn-eventos {
	width: 10rem;
	background-color: var(--bege-dourado);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	height: 2.5rem;
	color: var(--preto);
	transition: border-color 0.3s ease;
	border: 1px solid transparent;
	box-sizing: border-box;
	color: #FFFF9C;
	box-shadow: -3px 3px 1px var(--cinza-claro);
	user-select: none;
}

.btn-eventos:hover {
	border-color: var(--cinza-claro);
	cursor: pointer;
}

.eventos-section .btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
}

.btn-maiseventos {
	width: 16rem;
	background-color: var(--marrom-botao);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	height: 4.5rem;
	color: var(--preto);
	transition: border-color 0.3s ease;
	border: 1px solid transparent;
	box-sizing: border-box;
	box-shadow: -3px 3px 1px var(--cinza-claro);
	user-select: none;
}

.btn-maiseventos a {
	color: var(--branco-suave);
	font-weight: 800;
	font-size: 25px;
	text-decoration: none;
}

.btn-maiseventos .barrinha {
	width: 55%;
	height: 5px;
	background-color: #574e45;
	border-radius: 5px;
	margin: 0 auto;
}

.btn-maiseventos:hover {
	border-color: #72655b;
	cursor: pointer;
}

.doutrina-section {
	padding: 6rem 0rem 5rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--branco-suave);
}

.doutrina-section .titulo h1 {
	font-size: 50px;
	font-weight: 800;
	padding: 0;
	color: var(--marrom);
}

.historia {
	display: flex;
	justify-content: justify;
	padding-top: 75px;
}

.historia-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-color: #675f55;
	box-sizing: border-box;
	width: 75%;

	padding: 5rem;
	margin: 0 0 0 250px;
	border-radius: 15px;
}

.historia-texto p {
	display: inline-block;
	transform-origin: center;
	margin: 20px 0;
	padding: 0 2rem 0 0;
	text-align: justify;

	font-size: 25px;
	font-weight: 600;
	color: var(--branco-suave);
}

.conteudo {
	display: flex;
	align-items: flex-start;
	gap: 40px;
}

.retrato {
	width: 500px;
	border-radius: 30px;
}



.container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 6rem;
}

.doutrina-section .titulo {
	display: flex;
 	align-items: center;
 	gap: 12px;
  	margin-bottom: 2rem;
	margin-left: 4rem;
}

.barra {
    width: 6px;
    height: 60px;
    background: #e9d8a6;
    border-radius: 5px;
}

.conteudo {
    display: flex;
}

.titulo-texto {
	margin-left: -4rem;
}

.bloco {
    padding: 30px;
    border-radius: 10px;
    color: #2b2b2b;
    line-height: 1.6;
}

.oracao {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	background-color: var(--bege-claro);
	margin: 0 0 0 5rem;
	min-width: 20%;
	z-index: 2;
}

.doutrina-section .texto {
	margin-right: 3rem;
	padding: 4rem;

	font-size: 25px;
  	font-weight: 600;

    background: #675f55;
	color: var(--branco-suave);
}

.doutrina-section .texto p {
	margin-left: 1rem;
}


.onde-nos-encontrar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem 0rem 5rem 0rem;


	background-color: #b5965a;
}

.onde-nos-encontrar .titulo h1{
	color: var(--marrom);
}

.container-local {
	margin-top: 4rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 200px;
}

.map-container {
	display: flex;
	flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 30px;
}

.contato-container {
	display:flex;
	flex-direction: column;
	gap: 2rem;
}

.contato {
	display:flex;
	align-items: center;
	gap: 2rem;
}