:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	--marrom: #574E45;
	--bege-dourado: #B5965A;
	--branco-suave: #F8F4E6;
	--preto: #000;
	--cinza-claro: #373737a6;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #F8F4E6;
}

/** Barra de navegação */

.navbar-wrapper {
	position: fixed;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	background: var(--branco-suave);
	box-shadow: 0px 1px 10px var(--preto);
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 32px;
	width: 80%;
	color: var(--preto);
	font-weight: 900;
}

.navbar-title img {
	height: 5rem;
	border-radius: 50%;
	width: auto;
	display: block;
}

.navbar-title {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.navbar-title div h4 {
	font-weight: 700;
}

.navbar-menu {
	display: flex;
}

.navbar-menu ul {
	list-style: none;
	display: flex;
	gap: 28px;
	margin: 0;
	padding: 0;
}

.navbar-menu a {
	text-decoration: none;
	font-size: 1.1rem;
	transition: color 0.2s;
	color: var(--preto);
}

.navbar-menu a:hover {
	color: var(--cinza-claro);
}


/** Controle da Main */

main {
	width: 100vw;
	margin-top: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inicio {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.inicio p {
	color: var(--cinza-claro);
	width: 55%;
	line-height: 1.4rem;
	text-align: center;
}

.primeiro {
	font-weight: 900;
	color: var(--marrom);
}

.segundo {
	font-weight: 700;
	color: var(--bege-dourado);
}

.logo-principal {
	height: 15rem;
	border-radius: 50%;
	width: 15rem;
}

main section {
	text-align: center;
}


/** Responsividade */

@media screen and (max-width: 1380px) {
	.navbar-menu {
		display: none;
	}
}