:root {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	--marrom: #574E45;
	--bege-dourado: #B5965A;
	--branco-suave: #F8F4E6;
	--preto: #000;
	--cinza-claro: #373737a6;
}

* {
	padding: 0;
	margin: 0;
}

body {
	/* background-color: var(--branco-suave); */
}

/** Barra de navegação */

.navbar-wrapper {
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
	display: flex;
	justify-content: center;
	background: var(--branco-suave);
	box-shadow: 0px 1px 10px var(--cinza-claro);
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 32px;
	width: 80%;
	color: var(--preto);
	font-weight: 900;
}

.navbar-title img {
	height: 5rem;
	border-radius: 50%;
	width: auto;
	display: block;
}

.navbar-title {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.navbar-title div h4 {
	font-weight: 700;
}

.navbar-menu {
	display: flex;
}

.navbar-menu ul {
	list-style: none;
	display: flex;
	gap: 28px;
	margin: 0;
	padding: 0;
}

.navbar-menu a {
	text-decoration: none;
	font-size: 1.1rem;
	transition: color 0.2s;
	color: var(--preto);
}

.navbar-menu a:hover {
	color: var(--cinza-claro);
}


/** Controle da Main */

.main {
	width: 100vw;
	padding: 10rem 0rem 5rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--branco-suave);
	box-shadow: 0px 4px 10px var(--cinza-claro);
}

.inicio {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.inicio p {
	color: var(--cinza-claro);
	width: 55%;
	line-height: 1.4rem;
	text-align: center;
}

.primeiro {
	font-weight: 900;
	color: var(--marrom);
}

.segundo {
	font-weight: 700;
	color: var(--bege-dourado);
}

.logo-principal {
	height: 15rem;
	border-radius: 50%;
	width: 15rem;
}

.main section {
	text-align: center;
}

.informativo {
	padding-top: 70px;
	background-color: var(--bege-dourado);
	text-align: center;
	padding-bottom: 80px;
}

.titulo h1 {
	font-size: 50px;
	color: var(--branco-suave);
	text-align: center;
	padding: 3rem 1rem 1rem 1rem;
}

.barrinha {
	width: 49%;
	height: 6px;
	background-color: #e9d8a6;
	border-radius: 5px;
	margin: 0 auto;

}

.pai {
	display: flex;
	justify-content: justify;
	text-align: left;
	padding-top: 75px;
}

.organizacao {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size:25px;
	font-weight: 600;
	background-color: var(--branco-suave);
	color: #574e45;
	padding:40px;
	width: 50%;
	height: 530px;
	margin: 0 0 0 100px;
	border-radius: 15px;
	box-shadow: -10px 10px #e7ddc4;
	
	overflow: hidden;
	box-sizing: border-box;
}

.organizacao p{
	display: inline-block;
	transform-origin: center;
	transition: transform 0.2 ease;
	margin: 20px 0;
	text-align: justify;
}

.eventos-section {
	padding-top: 70px 0 80px 0;
	background-color: #685b49;
	text-align: center;
}

.eventos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 25px;
	max-width: 1554px;
	margin: 0 auto;
	padding: 0 20px;
}

.cartao {
	background-color: #d8cba2;
	border-radius: 15px;
	padding: 25px;
	width: 400px;
	height: 250px;
	box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
	margin-top: 75px;
	transition: 0.3s ease;
	display: flex;
	flex-direction: column;
}

.cartao:hover {
	transform: translateY(-5px);
	box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.3);
}

.cartao h3 {
	font-size: 1.3rem;
	font-weight: 900;
	color: #2d261e;
	margin-bottom: 10px;
}

.cartao p {
	color: #2d261e;
	line-height: 1.5;
	font-size: 1rem;
	margin-bottom: 15px;
	flex-grow: 1;
}

.info {
	display: flex;
	align-items: center;
	gap: 8px; 
	color: #2d261e;
	font-weight: 600;
	margin-bottom: 8px;
}

.material-symbols-outlined {
	font-size: 22px;
}

.btns {
	padding: 2rem 0rem 5rem 0rem;
	display: flex;
	gap: 2rem;
}

.btn-projetos {
	width: 15rem;
	background-image: linear-gradient(10deg, #ffff8649, #ffff4d7c 90%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	height: 2.5rem;
	color: var(--preto);
	transition: border-color 0.3s ease;
	border: 1px solid transparent;
	box-sizing: border-box;
	box-shadow: -3px 3px 1px var(--cinza-claro);
}

.btn-projetos:hover {
	border-color: var(--cinza-claro);
	cursor: pointer;
}

.btn-eventos {
	width: 10rem;
	background-color: var(--bege-dourado);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	height: 2.5rem;
	color: var(--preto);
	transition: border-color 0.3s ease;
	border: 1px solid transparent;
	box-sizing: border-box;
	color: #FFFF9C;
	box-shadow: -3px 3px 1px var(--cinza-claro);
}

.btn-eventos:hover {
	border-color: var(--cinza-claro);
	cursor: pointer;
}


/** Responsividade */

@media screen and (max-width: 1380px) {
	.navbar-menu {
		display: none;
	}
}

@media (max-width: 1024px) {
	.cartao {
		width: 45%;
	}
}

@media (max-width: 700px) {
	.cartao {
		width: 90%;
	}
}